@keyframes hero-text-move {
    0% {
        /* position:relative; */
        top: 25%;
        opacity: 0;
    }

    90% {
        opacity: 1
    }

    95% {
        opacity: 0;
    }

    100% {
        /* position:relative; */
        top: 0%;
    }
}

#brand {
    font-size: 21pt;
    font-weight: bold;
}

#hero-text-container {
    overflow: hidden;
    position: absolute;
    top: 48vh;
    left: 45vw;
    height:180px;
}

#hero-text {
    position: relative;
    opacity: 0%;
    animation-name: hero-text-move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#hero-bg {
    background-image: url(images/product-hero.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    background-repeat: none;
    background-color: rgba(255, 255, 255, 0.35);
    background-blend-mode: lighten;
}

.navbar a {
    color: black;
}

.navlink.active {
    color: white;
}

img {
    object-fit: cover;
    height: 80%;
    width: 75%;
}

#product-img {
    height: 60vh;
    background-image: url(images/product-use.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact-us {
    background-color: #A0A0A0;
}

#footer {
    background-color: black;
}

.list-group-item {
    color: white;
    background-color: black;
}

#cta-2 {
    color: black;
    font-size: 21pt;
    font-weight: bold;
}

#product-use {
    object-fit: cover;
    height: 60vh;
    width: 75%;
}

#back-to-top {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
}

#uparr{
    font-size:18pt;
    font-weight:bold;
}